@charset "urf-8";
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

/* 화면 초기화 */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Orbit";
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation; /* IE11+ */
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  width: 7rem;
  height: 3rem;
  border-radius: 3rem;
  border: 1px solid white;
  background-color: black;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: 350ms;
}

button:hover {
  background-color: white;
  color: black;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
  opacity: 0.8;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;
  opacity: 0.8;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.8;
}

img {
  max-width: 60%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  /* background: linear-gradient(45deg, plum, lavender); */
  background-color: white;
}

.loading {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  img {
    max-width: 20%;
  }
}

main .title {
  position: absolute;
  margin: 3vh 3%;
}

.pagination {
  position: absolute;
  right: 5%;
  margin: 5vh 0;
  span {
    font-size: 1.5rem;
  }
}

/* 캐러셀 */
.container {
  width: 100vw;
  height: 70%;
  position: relative;
  top: 15%;
}

.wrapper {
  width: 800vw;
  height: 100%;
}

.container .slide {
  width: 100vw;
  height: 100%;
  float: left;
  pointer-events: none;
  /* perspective: 100px; */
}

.container .slide .slide-content {
  width: 80%;
  height: 100%;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2%;
  transition: 170ms;
  background-color: black;
  border-radius: 15px;
}

.container .slide .slide-content .text-area {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
}

.container .slide .slide-content canvas {
  opacity: 0;
  transition: 250ms;
  border-radius: 15px;
  pointer-events: none;
}

/* 선택 효과 설정 */
.selected {
  pointer-events: auto !important;
  .slide-content {
    z-index: 1;
    filter: brightness(1) !important;
    /* transform: translateZ(1.7vh); */
  }
  canvas {
    opacity: 1 !important;
  }
}

.container i {
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  font-size: 2rem;
  margin: 1%;
  transition: all, 0.3s;
}

.container i:hover {
  opacity: 1;
  transform: scale(1.4);
}

.disabled {
  pointer-events: none !important;
}

#btnPrev {
  top: 50%;
  left: 3%;
  transform: translate(0, -50%);
}

#btnNext {
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}

/* 슬라이드 하나하나 */

#earth-slide {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
