@charset "urf-8";
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

/* 화면 초기화 */
* {
  margin: 0px;
  padding: 0px;
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation; /* IE11+ */
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  pointer-events: none;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(45deg, plum, lavender);
}

main h1 {
  font-weight: normal;
  font-size: 2rem;
  font-family: "Orbit";
  color: white;
  opacity: 0.8;
  position: absolute;
  margin: 3vh 3%;
}

main h2 {
  font-weight: normal;
  font-size: 1rem;
  font-family: "Orbit";
  color: white;
  opacity: 0.8;
  position: absolute;
  right: 5%;
  margin: 5vh 0;
}

#pagination span {
  font-size: 1.5rem;
}

main .autoBtnGroup {
  position: absolute;
  bottom: 5%;
  margin: 0 3%;
}

main .autoBtnGroup li {
  float: left;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  opacity: 0.9;
  transition: all, 0.3s;
}
main .autoBtnGroup li:hover {
  opacity: 1;
  transform: scale(1.4);
}

/* 캐러셀 */
.container {
  width: 100vw;
  height: 60%;
  position: relative;
  top: 20%;
}

.wrapper {
  width: 600vw;
  height: 100%;
}

.container .slide {
  width: 60vw;
  height: 100%;
  float: left;
  position: relative;
  perspective: 100px;
}

.container .slide img {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  opacity: 0.5;
  transition: 100ms;
}

/* 선택 효과 설정 */
.select-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #fff;
}
.selected .select-effect {
  animation: select-animation 300ms ease 2;
}
.selected {
  z-index: 1;
  img {
    opacity: 1 !important;
    filter: drop-shadow(0 0px 50px rgb(255, 255, 255, 0.8));
    transform: translateZ(2vh);
  }
}
@keyframes select-animation {
  0% {
    opacity: 0;
    transform: translate3D(-50%, -50%, 0);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3D(-50%, -50%, 30px);
  }
}

.container i {
  position: absolute;
  cursor: pointer;
  color: white;
  opacity: 0.8;
  font-size: 2rem;
  margin: 1%;
  transition: all, 0.3s;
}

.container i:hover {
  opacity: 1;
  transform: scale(1.4);
}

.disabled {
  /* opacity: 1;
  transform: scale(1.4); */
  pointer-events: none;
}

#btnPrev {
  top: 50%;
  left: 1%;
}

#btnNext {
  position: absolute;
  top: 50%;
  right: 1%;
}
